<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <system.serviceModel>
      <bindings>
        <netTcpBinding>
          <binding name="bindingConfig">
            <security mode="None" />
          </binding>

        </netTcpBinding>
      </bindings>
        <client>
            <endpoint address="net.tcp://106.54.230.68:8000/JinhuaBarOL/GameService/"
                binding="netTcpBinding" bindingConfiguration="bindingConfig"
                contract="GameService.IGameService" name="NetTcpBinding_IGameService">
                <identity>
                    <dns value="" />
                </identity>
            </endpoint>

        </client>
    </system.serviceModel>
</configuration>