<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <system.serviceModel>
        <bindings>
            <wsDualHttpBinding>
                <binding name="WSDualHttpBinding_IGameService" closeTimeout="00:10:00" openTimeout="00:10:00"
              receiveTimeout="00:10:00" sendTimeout="00:10:00"/>
            </wsDualHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:8000/JinhuaBarOL/GameService/"
                binding="wsDualHttpBinding" bindingConfiguration="WSDualHttpBinding_IGameService"
                contract="GameService.IGameService" name="WSDualHttpBinding_IGameService">
                <identity>
                    <userPrincipalName  value="DRTK712-WORK\戴" />
                </identity>
            </endpoint>
        </client>
    </system.serviceModel>
</configuration>